
body{
    text-align: center;
    margin: 0%;
    padding: 0%;
    height: 100vh;

}
.top-container{
    background-color: #c8f1f1;
    padding-top: 50px;
}
.cloud1{
        position: absolute;
        right: 300px;
        top: 40px;
}
h1{
    color: #66bfbf;
    font-family: "Sacramento", cursive;
    font-size: 5rem;
    font-weight: bold;
    font-style: italic;
    display: block;
    padding-top: 7rem;
    
}
.cloud2{
    position:absolute ;
    left:200px ;
    top: 400px;
}
h2{
    display: block;
    font-family: "Montserrat",sans-serif;
    color: #66bfbf;
    font-weight: normal;
    padding-bottom: 50px;
    margin: 50px auto 0 auto;
    font-size: 2.5rem;
}
h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.pro{
    text-decoration: underline;
}
.mid-container{
    font-family: 'Courier New', Courier, monospace;
    padding-top: 50px;
    margin: 0px 0 50px 0;
}
.mountain{
    height: 320px;
}

.profile-pic{
    width: 12%;
    border-radius: 50%;
    margin-top: 100px;
    margin-bottom: 0;
}
p{
    font-family: "Merriweather",serif;
    font-weight: lighter;
}
.parent{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(2,1fr);
    width: 50%;
    margin: 0px auto 0 auto;
    text-align: left;
    row-gap: 2rem;
    column-gap: 2rem;
    
}
.img1{
    border-radius: 5%;
}
.img2{
    grid-column: 1;
    border-radius: 5%;
}
h3 {
    color: #11999e;
    font-family: "Montserrat", sans-serif;
    margin: 0 0 40px 0;
}
.skills{
    margin-top: 100px;
}
hr{
    border: dotted;
    border-color: #c6cfcf;
    border-width: 6px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
    display: block;

}
.btn{
    margin: 60px 0px 100px 0px;
}
.bottom-container{
    background-color: #66bfbf;
    padding: 50px 0px 20px;
    margin: 0;
}
a{
    color: #11999e;
    font-family: "Montserrat", sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
.btn{
    background: #11cdd4;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    line-height: 2;
}
.ms{
    margin-bottom: 50px;
}